// local variables
// --------------------
$brand-logo-width: 370px !default;
$brand-logo-height: 85px !default;
$scaled-height: 85px !default;

// utilities
@import "utilities/mixins";

// overrides
// --------------------
.navbar-brand {
    .navbar-brand-logo {
        @include brand-logo($brand-logo-width, $brand-logo-height, $scaled-height);
    }
}
