{% extends 'edx/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% endblock %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}

{% block content %}
    <div id="error-message">
        <div class="container">
            <div class="message-error-content">
                <h3>{{ error }}</h3>
                {% filter urlize %}
                  {% blocktrans %}If you need assistance, contact onlinelearning@hms.harvard.edu.{% endblocktrans %}
                {% endfilter %}
            </div>
        </div>
    </div>
{% endblock %}
